body{background-color: black;}

.login{  
        width: 400px;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #25463f;  
        border-radius: 15px ;  
          
}  
