[Unit]
Description=telepaint client (anon)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/telepaint
ExecStart=/home/pi/telepaint/build/telepaint /home/pi/telepaint/config.json
Restart=on-failure
Environment=SDL_VIDEODRIVER=KMSDRM

[Install]
WantedBy=multi-user.target
